@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,900&display=swap');

$heading1: 900 3.5rem Roboto, sans-serif;
$heading2: 600 2rem Roboto, sans-serif;

$body: 400 1.4rem Roboto, sans-serif;